:root {
  --html-color: #ef4545;
  --css-color: #3b82f6;
  --javascript-color: #eab207;
  --jquery-color: #0868ac;
  --typescript-color: #007acc;
  --bootstrap-color: #8210f5;
  --tailwind-color: #39bcf8;
  --react-color: #08d8fe;
  --ant-design-color: #2f95e0;
  --angular-color: #c3012e;
  --node-color: #8dc84a;
  --express-color: #212020;
  --csharp-color: #5b32d7;
  --laravel-color: #f61e0e;
  --mysql-color: #005c89;
  --postgresql-color: #336791;
  --sqlsrvr-color: #a81c22;
  --mongodb-color: #12a44e;
  --git-color: #ef503b;
  --figma-color: #fe3900;
  --swagger-color: #6c9b00;
  --postman-color: #ff6c37;
  --trello-color: #017ac3;
  --enphasis-color: #007bff !important;
  --enphasis-hover-color: #006bdd;
  --enphasis-dark-color: #003166 !important;
  --enphasis-hover-dark-color: #00244b;
}

::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

body {
  background-color: #ffffff;
}

h1 {
  font-size: 60px !important;
}

.enphasis-text {
  color: var(--enphasis-color);
}

.enphasis-text-dark {
  color: var(--enphasis-dark-color);
}

.btn-primary {
  border-color: var(--enphasis-color) !important;
  background-color: var(--enphasis-color) !important;
}

.btn-primary:hover {
  border-color: var(--enphasis-hover-color) !important;
  background-color: var(--enphasis-hover-color) !important;
}

.btn-primary-dark {
  border-color: var(--enphasis-dark-color) !important;
  background-color: var(--enphasis-dark-color) !important;
}

.btn-primary-dark:hover {
  border-color: var(--enphasis-hover-dark-color) !important;
  background-color: var(--enphasis-hover-dark-color) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.lottie-container {
  pointer-events: none !important;
  min-height: 300px;
}

.skill-subtitle {
  font-size: 13px;
}
