@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --html-color: #ef4545;
  --css-color: #3b82f6;
  --javascript-color: #eab207;
  --jquery-color: #0868ac;
  --typescript-color: #007acc;
  --bootstrap-color: #8210f5;
  --react-color: #08d8fe;
  --ant-design-color: #2f95e0;
  --angular-color: #c3012e;
  --express-color: #8dc84a;
  --laravel-color: #f61e0e;
  --mysql-color: #005c89;
  --mongodb-color: #12a44e;
  --git-color: #ef503b;
  --figma-color: #fe3900;
  --swagger-color: #6c9b00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #ffffff;
}

h1 {
  font-size: 60px !important;
}

.enphasis-text {
  color: #007bff;
}

.enphasis-text-dark {
  color: #003166;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #007bff !important;
}

.btn-primary:hover {
  color: #ffffff !important;
  background-color: #006bdd !important;
}

.btn-primary-dark {
  color: #ffffff !important;
  background-color: #003166 !important;
}

.btn-primary-dark:hover {
  color: #ffffff !important;
  background-color: #00244b !important;
}

.cursor-pointer {
  cursor: pointer;
}

.lottie-container {
  pointer-events: none !important;
}
